<div class="card-group">
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag ("01dep.jpg") %>
    <div class="card-body">
      <h5 class="card-title">Deportes</h5>
      <p class="card-text">Revisa las últimas noticias positivas del deporte en Chile y el mundo.</p>
    </div>
  </div>



  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag ("02far.jpg") %>
    <div class="card-body">
      <h5 class="card-title">Farándula</h5>
      <p class="card-text">Entérate de las copuchas de la farándula nacional e internacional.</p>
    </div>
  </div>


  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag ("03nac.jpg") %>
    <div class="card-body">
      <h5 class="card-title">Nacional</h5>
      <p class="card-text">Revisa las noticias felices del ámnito nacional</p>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag ("04int.jpg") %>
    <div class="card-body">
      <h5 class="card-title">Internacional</h5>
      <p class="card-text">Mantenten al día con las noticias positivas de mundo</p>
    </div>
  </div>
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag ("05pol.jpg") %>

    <div class="card-body">
      <h5 class="card-title">Política</h5>
      <p class="card-text">Revisa las noticias positivas de la politica nacional</p>
    </div>
  </div>
</div>