<%= form_with(model: noticium) do |form| %>
  <% if noticium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(noticium.errors.count, "error") %> prohibited this noticium from being saved:</h2>

      <ul>
        <% noticium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row container alert alert-primary col-4">
  <div>
    <%= form.label :encabezado, style: "display: block" %>
    <%= form.text_area :encabezado %>
  </div>

  <div>
    <%= form.label :cuerpo, style: "display: block" %>
    <%= form.text_area :cuerpo %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_area :link %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.number_field :tipo %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <% end %>
</div>